<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <file>tests/BinaryInstallerTest.php</file>
            <file>tests/RustBridgeTest.php</file>
            <file>tests/RustBridgeCommandTest.php</file>
            <file>tests/TurboAutoloadGeneratorTest.php</file>
        </testsuite>
        <testsuite name="Correctness">
            <file>tests/CorrectnessTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
